@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  margin: 0;
  padding: 0;
}

nav {
  padding: 1rem;
  background-color: #00000099;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.carousel-item,
.carousel-item-hidden {
  display: none;
}

/* handle smooth transitions between slides */
@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-i > h1,
.hero-ii > h1,
.hero-iii > h1,
.hero-iv > h1,
.hero-v > h1 {
  color: #1e1e1e;
  text-align: center;
  font-size: 1.75rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.hero-i > p,
.hero-ii > p,
.hero-iii > p,
.hero-iv > p,
.hero-v > p {
  color: #1e1e1e;
  text-align: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-i > h1,
.hero-iv > p {
  color: #eee159;
}
.hero-i p,
.hero-iv > h1 {
  color: #ffffff;
}

.hero-i {
  background: url(../img/hero-img-i.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 1rem;
}

.hero-ii {
  background: url(../img/hero-img-ii.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 1rem;
}

.hero-iii {
  background: url(../img/hero-img-iii.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8rem 1rem;
}

.hero-iv {
  background: url(../img/hero-img-iv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8rem 1rem;
}

.hero-v {
  background: url(../img/hero-img-v.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8rem 1rem;
}

main p {
  padding: 1rem;
  color: #1e1e1e;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

main h2 {
  padding: 1rem;
  color: #1e1e1e;
  text-align: center;
  font-size: 1.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}

main h2 span {
  color: #eee159;
}

main > p {
  color: #1e1e1e;
  text-align: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pos-agents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.agent{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.agent a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 1rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: #eee159;
  box-shadow: 9px 4px 50px 0px rgba(0, 0, 0, 0.25);
}

.testimonials {
  margin-top: 4rem;
  background-color: #eee159;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-section-title {
  margin-top: -1.2rem;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.25);

  color: #1e1e1e;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.testimonials-card {
  margin: 2rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  border-radius: 1.25rem;
  background: #fff;
}

.content p {
  text-align: left;
}

.content span {
  margin: 0.7rem;
  display: block;
}

.product-pack {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-pack p {
  color: #1e1e1e;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-pack a {
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: #1e1e1e;
  box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.25);
}

footer {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: #1e1e1e;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer h3 {
  color: #eee159;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
